body{

	margin: 0;
	padding: 0;
	background-size: cover;
	background-attachment: fixed;
}
.pricing-table{

	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: center;
	text-align: center;;
	flex-wrap: wrap;

}
.col{

	flex:25%;
	padding: 10px;
	max-width: 320px;
	box-sizing:border-box;
}

.table{
background: #fff;
padding: 40px 20px;
font-family: "montserrat",sans-serif;
position: relative;
overflow: hidden;
box-shadow: 0 0 10px #00000070;
border:1px solid black;
border-radius: 15px;
}
.table h2
{
text-transform: uppercase;

}
.table ul
{
	margin: 0;
	padding: 0;
}

.table ul li
{
	padding: 10px 0;
	list-style: none;
}
.price{

	font-size: 40px;
	margin-bottom: 20px;
}
.price span{
	display: block;
	font-size: 14px;
}
.table a{

	text-decoration: none;
	color: #2c3e50;
	border: 2px solid #2c3e50;
	display: block;
	padding: 10px 0;
	margin: 10px 0;
	border-radius: 40px;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.5 linear;
}
.table a:hover
{
background:  #2c3e50;

color: #fff;

}

.pop{
	background :#2c3e50;
	color: #fff;
	transform: rotate(45deg);
	padding: 10px 40px;
	position: absolute;
	top:16px;
	right: -34px;
}

@media screen and (max-width: 980px)
{
	.col{
		flex: 50%;

	}
}



@media screen and (max-width: 700px)
{
	.col{
		flex: 100%;

	}
}
header {
    padding: 25px;
    background: #2c3e50;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

} 




.logo a i {
    font-size: 50px;
}
.menu {
    position: relative;
    top: 30px;
}
.menu ul li {
    display: inline-block;
    text-transform: uppercase;
    
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-bottom: 4px solid transparent;
}
.menu ul li a:hover {
    border-bottom: 4px solid #fff;
}
a{
	color: inherit;
}

.menu ul li a:hover {
    border-bottom: 4px solid #fff;
}
.menu ul li:hover ul.submenu{
	display: block;
}
ul.submenu{
	margin-top: 10px;
    padding: 5px 20px;
    background: #2c3e50;
    display: none;
    position: absolute;
    z-index: 1;
}

ul.submenu li{
	display: block;
    padding: 10px 0;
}

ul.submenu li a{
	padding: 10px 0;
}


footer {
    padding: 40px;
    text-align: center;
    background: #ccc;
}

footer ul li {
    display: inline-block;
    padding: 0px 5px;
}


footer ul {
    margin: 0;
    padding: 0;
}
footer ul li a {
    text-decoration: none;
    color: #2c3e50;
    padding: 5px 10px;
    border: 1px solid #2c3e50;
    border-radius: 50%;
}

footer ul li a:hover {
    background: #2c3e50;
    color: #fff;
}
.banner
{
	height: 700px;
	top:0;
	bottom: 0;
	margin:auto ;
	position: relative;
	background: url(./asmi.jpg) no-repeat;
	background-size: cover;

}
.banner-text
{
	position: absolute;
	text-align: center;
	top: 175px;
	left: 95px;
	color: white;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
}
.View-portfolio
{
	display: inline-block;
	width: 300px;
}

.View-portfolio a{
	padding: 20px 40px;
	background-color: black;
	text-decoration: none;
	opacity: 0.6;
}
.ContactUs {

	display: inline-block;
	width: 250px;
}
.ContactUs a{
	padding: 20px 40px;
	background-color: black;
	text-decoration: none;
	opacity: 0.6;
}
.ContactUs a:hover{
	background-color: white;
	color: black;
	text-decoration: none;
}
.View-portfolio a:hover{
	background-color: white;
	color: black;
	text-decoration: none;
}

.Contact{

	background-color: #2c3e50;
	height: 600px;

}
.ContactForm{
width:250px;
padding: 50px;
margin: 100px auto;
border-radius:30px;
border: 1px solid white;
position: relative;
background-color: white;
top: 50px;

}
.title h1{
	clear: #535274;
	letter-spacing: 5px;
	margin-bottom: 25px;
	text-align: center;
}
.form,
.form-items
{
	width: 100%;
}
.form-items .input{
width: 100%;
margin-bottom: 12px;
padding: 15px 40px;
box-sizing: border-box;
border: 0;
outline: none;
border-radius: 30px;
background: #ebeef1;
}
.form-items .input.message{
height: 125px;
border-radius: 15px;
margin-bottom: 30px;
padding: 15px;

}

.btn{
	background: #827ffe;
	text-align: center;

	color: white;
	padding: 12px;
	border-radius: 25px;
	cursor: pointer;

}

.form-items{
	position: relative;
}
.form-items .fa{
position: absolute;
top: 15px;
left: 15px;
color: #9a99aa;


}
.about-me-section{

	height: 580px;
	background-color: #535274;
	}
	.about-me{

		padding: 20px;
		display: flex;
		justify-content: space-around;
	}
	.image_section{

		padding: 20px;
		border: 2px solid #2c3e50 ;
		border-radius: 20px;
		box-shadow: 0 0 50px #fff;
		background:#2c3e50;
		display: flex;
		position: absolute;
		left: 150px;
	}

.text_content{

display: flex;
justify-content: space-around;
padding: 40px;
width: 300px;
height: 410px;
border-radius: 20px;
border: 2px solid #2c3e50;
background: #2c3e50;
box-shadow: 0 0 50px #fff;
position: absolute;
right: 150px;
	}


.text_content h1{

		color: #fff;
		font-size: 33px;
		/*text-shadow: 2px 2px black;*/
		text-decoration: underline;
		text-align: center;
		font-style: oblique;
		font-variant:normal;
		animation: text 3s 1;


	}

	.text_content p{  
		color:white;
		letter-spacing: 1px;
		text-align: left;
		padding: 30px;
		line-height: 1.5;
		left:3px;
		font-size: 15px;
		position: absolute;
		top: 80px;
  	}

     .viewProfile a{
  		padding: 12px ;
  		margin: 12px ;
  		text-align: center;
  		color:#2c3e50 ;
  		text-decoration: none;
  		text-transform: uppercase;
  		border-radius: 50px;
  		background-color: #fff;
  		border: 3px solid  #2c3e50;
  		position: absolute;
  		bottom: 30px;
  		transition: 0.5s;
  		font-size:14px;
  		left:25%;
  		width:150px;

  	}
  	.viewProfile a:hover{

  		background: #535274;
  		color: #fff;
  	}

  	@keyframes text {
0%{
    color:#2c3e50;
    margin-bottom: -40px;
}
30%{

	letter-spacing: 25px;
	margin-bottom: -20px;
}
85%{

	letter-spacing: 10px;
	margin-bottom: -30px;
}

  	}